absl-py==0.1.12
appnope==0.1.0
arrow==0.10.0
astor==0.6.2
binaryornot==0.4.3
bleach==1.5.0
briefcase==0.1.8
certifi==2017.4.17
chardet==3.0.4
click==6.7
cookiecutter==1.5.1
coremltools==0.8
cycler==0.10.0
decorator==4.2.1
Django==2.0.4
entrypoints==0.2.3
Faker==0.8.12
future==0.16.0
gast==0.2.0
grpcio==1.10.0
gunicorn==19.7.1
h5py==2.7.1
html5lib==0.9999999
idna==2.5
imageio==2.3.0
jedi==0.11.1
Jinja2==2.9.6
jinja2-time==0.2.0
joblib==0.11
jsonschema==2.6.0
notebook==5.4.1
numpy==1.14.2
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
poyo==0.4.1
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
pydataset==0.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2018.3
PyYAML==3.12
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.1
sklearn==0.0

